streamlit==1.32.2

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-groq==0.1.9

chromadb==0.5.3

sentence-transformers==2.6.1
huggingface-hub==0.23.4

python-dotenv==1.0.1
reportlab==4.2.0
